body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #081421;
    color: white;
}

h1 {
    color: gold;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.card {
    background: #10253a;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid gold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0d1b2a;
    color: gold;
}
nav {
    margin-top: 15px;
}

nav a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
    margin: 0 8px;
}

nav a:hover {
    color: white;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 150px;
    margin: 0;
}

.header-icons {
    font-size: 40px;
}

.header-icons span {
    margin-left: 25px;
    cursor: pointer;
}
