body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #081421;
    color: white;
}

h1 {
    color: gold;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.card {
    background: #10253a;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid gold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0d1b2a;
    color: gold;
}
nav {
    margin-top: 15px;
}



nav a:hover {
    color: white;
}


.logo {
    width: 420px;
    max-width: 70;
    height: auto;
}
    
.header-icons {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 50px;
}
.header-icons span {
    cursor: pointer;
    padding: 8px;
}

.show {
    display: block;
}
.language-dropdown {
    position: relative;
    display: inline-block;
}

.language-icon,
.search-icon{
    font-size:55px;
}

.language-content {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    min-width: 150px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.language-content a {
    display: block;
    padding: 12px;
    color: #081421;
    text-decoration: none;
}

.language-content a:hover {
    background: #f5f5f5;
}

.language-dropdown:hover .language-content {
    display: block;
}
.search-box {
    position: relative;
}

.search-content {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.search-content input {
    width: 220px;
    padding: 10px;
}
.main-header{
    position: sticky;
    top: 0;
    z-index: 1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    padding:5px 15px;
    min-height:70px;
}

.header-icons{
    display:flex;
    align-items:center;
    gap:25px;
}

.language-icon,
.search-icon,
.menu-icon{
    font-size:40px;
    cursor:pointer;
}

/* Hide top nav completely */
.main-nav{
    display:none;
}

/* Big EUE-style side menu */
.side-menu{
    position:fixed;
    top:0;
    right:-100%;

    width:100%;
    height:100%;

    background:#3f456f;

    transition:.4s ease;

    z-index:9999;

    overflow-y:auto;

    padding-top:100px;
}

.side-menu.active{
    right:0;
}

.side-menu a{
    display:block;

    color:white;
    text-decoration:none;

    font-size:38px;
    font-weight:500;

    padding:24px 40px;
}

.side-menu a:hover{
    background:rgba(255,255,255,0.1);
}

.social-icons{
    margin-top:40px;
    padding:20px 0 50px 0;
}

.social-icons a{
    display:block;

    color:white;
    text-decoration:none;

    font-size:30px;

    padding:18px 40px;
}

.social-icons a{
    font-size:35px;
    text-decoration:none;
}
.menu-icon{
    font-size:60px !important;
    font-weight:bold;
    color:black;
}
.menu-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    padding:15px 20px;

    position:sticky;
    top:0;
}

.menu-header img{
    width:180px;
}

.menu-header span{
    font-size:45px;
    cursor:pointer;
    color:black;
}
